# Voyager 依存パッケージ
tqdm
langchain
langchain_openai
langchain_community
javascript
setuptools
openai
chardet
chromadb
tiktoken
requests
gymnasium
psutil
minecraft_launcher_lib
python-dotenv

# LangFlow
deep-translator
pydantic>=2.0.0