# Voyager 依存パッケージ
tqdm
langchain
langchain_openai
langchain_community
javascript
setuptools
openai
chardet
# cchardetは削除（chardetと競合するため）
chromadb==0.3.29
tiktoken
requests
gymnasium
psutil
minecraft_launcher_lib
python-dotenv

# LangFlow
deep-translator