# Voyager 依存パッケージ
tqdm
langchain
langchain_openai
langchain_community
javascript
setuptools
openai
chardet
cchardet
chromadb==0.3.29
tiktoken
requests
setuptools
gymnasium
psutil
minecraft_launcher_lib
python-dotenv

# その他
langflow